@import-normalize;

:root {
  --bg-color-light: #ADC4DB;
  --bg-color-dark: #171923;
}

html {
  height: 100%;
  background-color: var(--bg-color-dark);
}

body {
  min-height: 100%;
  background-color: var(--bg-color-dark);
  overscroll-behavior-y: none;
}

body.light {
  background-color: var(--bg-color-light);
}

body.dark {
  background-color: var(--bg-color-dark);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}