.vatField {
    display: flex;
}

.vatCheckboxLabel {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    cursor: pointer;
}

.vatCheckbox {
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.vatCheckboxText {
    font-size: 0.85rem;
    font-weight: 500;
}

@media (max-width: 480px) {
    .vatField {
        grid-column: 1;
        grid-row: 3;
    }
}

@media (max-width: 640px) {
    :global(.vatField) {
        grid-column: 1 / -1;
        grid-row: 3;
        align-self: start;
        justify-self: start;
    }
}